.wrapper {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 500px;
    height: 270px;
    display: grid;
    grid-template-columns: [start] 100px [pierwsza] repeat(2, 75px) auto [end];
    grid-template-rows: [początek] 30px minmax(40px, 150px) 50px [koniec];
    grid-template-areas: 
    "menu menu wolne wolne"
    "menu menu wolne wolne"
    "menu menu wolne wolne";
    gap: 10px 25px;

}

.wrapper > div {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(154, 0, 0);
    grid-auto-flow: row;
    
}

.d1 {
    background-color: rgb(235, 169, 169);
    grid-row: początek / koniec;
    grid-column: 3 / 5;
    z-index: 10;
}

.d2 {
    background-color: red;
    
}

.d3 {
    background-color: rgb(174, 165, 67);
    grid-row: początek / 2;
    grid-column: 1 / 4;
}

.d4 {
    background-color: rgb(0, 229, 255);
  
}

.d5 {
    background-color: rgb(102, 0, 255);
  
}

.d6 {
    background-color: rgb(0, 255, 0);
}

.d7 {
    background-color: rgb(170, 255, 0);
}

.d8 {
    background-color: rgb(255, 0, 191);
}

.d9 {
    background-color: rgb(0, 255, 255);
    grid-area: wolne;
}

.d10 {
    background-color: rgb(255, 132, 0);
    grid-area: menu;
}

h2 {
    background-color: darkcyan;
    }


    /*media Query*/
@media screen and(max-width: 400px) {
    h2 {
        font-size: 8px;
        
        }
}
@media screen and(max-width: 800px) {
    h2 {
        flex:  1 0 auto;
        
        }
}
@media screen and(min-width: 400px) {
    h2 {
       flex: 0 0 auto;
        
        }
}

@media screen {
    h2 {
    background-color: darkcyan;
    }
                }               
/*nie wyświetla nagłówka dla drukarki*/
@media print {
    h2 {
    visibility: hidden;
}
                }               