/*body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
}*/

.nagłówekStrony {
    position: fixed;
    top: 0px;
    background-color: cadetblue;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    width: 100%;
    padding: 10px;
    z-index: 2;

}
.maingrid {
    display: grid;
    grid-template-columns: 150px 500px auto;
    grid-template-rows: 1000px;
}
.prawy {
    grid-column: 1 / 2;
}
p {
    margin-top: 100px;
}
.kafle {
    display: flex;
   /* align-content:flex-end;*/
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
        
    margin-top: 95px;
   
       
}
.kafel {
    background-color: whitesmoke;
    /*flex-grow: 1;*/
    
    width: 250px;
    height: 160px;
    position: relative;
}

.kafel__obrazek--żałobny {
    background-color: black;
}

.kafel__obrazek {
    width: 100%;
    height: 160px;
}

.kafel__obrazekTest {
    background-image: url(https://cdn.pixabay.com/photo/2022/07/22/13/23/coast-7338147_960_720.jpg);
    background-size: cover;
    height: 100%;
    margin: 0px;
    /*background-repeat: no-repeat;*/
    width: 100%;
}

.kafel__tytuł {
    position: absolute;
    font-size: 15px;
    margin: 10px;
    background-color: rgba(162, 192, 237, 0.8);
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.kafel__tytuł--żałobny {
    background-color: black;
    color: white;
}

.kafel__obrazek--żałobny {
    filter: grayscale(50);
}

.kafel__zajawka {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 5px;
    padding: 10px, 10px, 25px, 10px;
    background-color: rgba(200, 200, 200, 0.50);
    font-weight: normal;
}

    .kafel__link {
    position: absolute;
    bottom: 15px;
    right: 10px;
    text-decoration: none;
    color: rgb(5, 21, 21);
}

    .kafel__link:hover {
    position: absolute;
    bottom: 15px;
    right: 10px;
    text-decoration: none;
    background-color: rgb(41, 47, 47);
    color: aliceblue;
}



.kafel__tytuł--radosny {
    background-color: rgb(192, 187, 24);
    color: white;
}


.kafel__zajawka--radosny {
    background-color: rgba(176, 167, 37, 0.5);
    color: rgb(0, 5, 0);

}   

.kafel--niewidzialny {
    display: none;
}

.kafel--niewidzialny {
    visibility: hidden;
}

