@import url('test.css');

body {
    margin: 0;
    margin-top: 40px;
}

.glowny {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.naglowekStrony {
    position: fixed;
    top: 0;
    background-color: aquamarine;
    margin: 0;
    width: 100%;
    z-index: 2;
}

/*dla drukarek - nie drukujemy naglowka i kafli */
@media print {
    .naglowekStrony {
        visibility: hidden;
    }

    .kafel {
        visibility: hidden;
    }
}



.naglowekStrony {
    position: fixed;
    top: 0;
    background-color: aquamarine;
    margin: 0;
    width: 100%;
    z-index: 2;
}

@media screen and (max-width: 400px) {
    .naglowekStrony {
        font-size: 8px;
    }
}

@media screen and (max-width: 800px) {
    .kafel {
        flex: 1 0 auto;
    }
}

@media screen and (min-width: 801px) {
    .kafel {
        flex: 0 0 auto;
    }
}

.kafel {
    background-color: antiquewhite;
    display: inline-block;
    height: 140px;
    width: 250px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    flex: 0 0 auto;
}

.kafel--zalobny {
    background-color: rgb(145, 139, 139);
}

.kafel__obrazek {
    width: 100%;
}

.kafel__tytul {
    position: absolute;
    font-size: 14px;
    top: 0;
    right: 0;
    margin: 10px;
    background: rgb(100,100,150, 0.5);
    border-radius: 3px;
    padding: 5px;
    z-index: 1;
}

.kafel__tytul--zalobny {
    color: #fff;
    background: rgb(000, 000, 000, 0.8);
}

.kafel__obrazek--zalobny {
    filter: grayscale();
}

.kafel__zajawka {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 5px 10px 20px 10px;
    background: rgb(220, 220, 220, 0.6);
    color: black;
}

.kafel__link {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 3px;
    font-size: 11px;
}

.kafel__link:hover {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: blueviolet;
    color: white;
}

.kafel__tytul--radosny {
    color: rgb(7, 7, 7);
    background: rgba(221, 192, 24, 0.8);
}

.kafel__zajawka--radosny {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 10px, 10px, 25px, 10px;
    background: rgba(143, 238, 20, 0.8);
    color: black;
    font-weight: bold;
}
/*
.kafel--niewidzialny {
    visibility: hidden;
}
*/
.kafel--niewidzialny {
    display: none;
}

.kafel__obrazek--niewidoczny {
    display: none;
}

.kafel__obrazek2 {
    background-size: cover;
    background: url("img/g1.webp");
    height: 150px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
}

input {
    background: url("img/kogut-zadanie.png"), url("img/kogut-zadanie2.png"), linear-gradient(to right, rgb(255, 255, 255) 10%, rgb(188, 237, 249) 50%, rgb(255, 255, 255) 90%);
    background-size: auto 30px, auto 30px;
    background-repeat: no-repeat no-repeat, no-repeat no-repeat;
    background-position: left, right;
    width: 50%;
    color: #fff;
    line-height: 30px;
    padding: 0px;
    border-radius: 8px;
    border: 1px solid rgb(170, 179, 185);
    display: inline-block;
    margin: 5px;
    font-weight: bold;

}

.maingrid {
    display: grid;
    grid-template-columns: 100px auto 150px;
    gap: 0 20px;
}

.lewy {
    padding-left: 10px;
}

.prawy {
    padding-right: 10px;
}