h1 {
    font-size: 2em;
    font-weight: normal;
}
h2 {
    font-size: 2em;
    font-weight: normal;
}
ol {
    margin-block-start: 5em;
}
p {
    margin-inline-start: 0.5em;
}

label {
    display: inline-block;
    width: 100px;
}

div {
    margin: 0px;
}

input[type="text"], 
input[type="password"],
textarea,
select,
[type="number"],
button,
[type="button"],
[type="submit"]

 {
    background-color:bisque

}

/*[class="podstawowe"] {
    background-color:aquamarine
}
*/

/*form > [class="podstawowe"] {
    background-color:aquamarine;
    margin:0;
}*/

.opcje label {
    display: inline;
}

/*
input#kawaForm {
    
}

*/
/*
input[id="imieForm"] {

}

input[id] {

}

[id="passwordForm"] {

}
*/

/*02.08.2022*/
tr {
    background-color: rgb(125, 94, 198);
}

tbody > tr:nth-child(2n) {
    background-color: rgb(62, 121, 92);
}

tbody > tr:hover {
    background-color: chartreuse;
}

/*style w konwencji BEM */
.kafel {
    background-color: rgb(219, 225, 215);

}

.kafel--zalobny {
    background-color: rgb(71, 74, 75);

}

.kafel__obrazek {
    filter: grayscale()
}

/*...*/

legend {
    display: contents;

}

legend > span {
    display: inline-block;
    width: 66px;
}
