/*h1 {
    font-size: 2em; 
    font-weight: normal;
}*/

/*TEN STYL JEst do czegos*/

* {
    box-sizing: border-box;
}

ol {
    list-style-type: disc;
}



div {
    margin: 10px 0;
}



[type="text"], 
[type="password"],
textarea,
select,
[type="number"],
button,
[type="submit"],
[type="button"] {
    background-color: bisque;
    border: 1px solid #ffbc6c;
    outline: none;
    font-size: 10px;
    color: #683800;
    padding: 4px;
    border-radius: 3px;
    width: 50%;
}

[type="text"]:hover,
[type="password"]:hover,
textarea:hover,
select:hover,
[type="number"]:hover,
[type="submit"]:hover {
    background-color: rgb(253, 203, 141);
    border: 2px solid #fcae4f;
    color: #683800;
}

.opcje label {
    display: inline;
}

label,
legend,
.spacer {
    display: inline-block;
    width: 66px;
}

fieldset {
    border: none;
    padding: O;
    margin: O;
}

fieldset label {
    width:auto;
    padding-left: 20px;
}

table {
    border-collapse: collapse;
}

thead tr:first-child {
    background-color: #ff5757;
}

tbody tr:nth-child(2n+1) {
    background-color: #cbcbff;
}

tbody tr:nth-child(2n) {
    background-color: #8181f7;
}

tbody > tr:hover {
    background-color: #5858ff;
}

td, th {
    padding: 10px;
    text-align: left;
}

.kafel {
    background-color: rgb(103, 103, 103);
    display: inline-block;
    width: 250px;
    height: 140px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.kafel--zalobny {
    background-color: rgb(0, 0, 0);
}

.kafel__obrazek {
    width: 100%;
}

.kafel__tytul {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 14px;
    margin: 10px;
    background: rgba(100, 100, 150, 0.5);
    padding: 5px;
    border-radius: 3px;
    z-index: 1;
}

.kafel__tytul--zalobny {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.kafel__obrazek--zalobny {
    width: 100%;
    filter: grayscale();
}

.kafel__zajawka {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px 10px 25px 10px;
    background: rgba(220,220,220, 0.6);
    color: black;
}

.kafel__link {
    position:absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 3px;
}

.kafel__link:hover {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    background-color: red;
    color: white;
}

.kafel__tytul--radosny {
    background: rgba(255, 255, 0, 0.7);
    color: rgb(255, 0, 0);
}

.kafel__obrazek--radosny {
    width: 100%;
    filter: blur(3px) contrast(150%) brightness(150%);
    }

.kafel__zajawka--radosny {
      background: rgba(255, 255, 0, 0.5);
    color: rgb(0, 0, 0);
}