* {
    box-sizing: border-box;
}

pre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 2em;
    font-weight: initial;
    color: blueviolet;
}
ol {
    list-style-type: upper-roman;
    margin-inline-start: 50px;
    color: red;
}
ul {
    margin-inline-start:  25px;
    color: blue;
}
label {
    display: inline-block;
    width: 80px;
    
}
div {
    margin: 10px;
}

.opcje label {
    display: inline;
}

input, textarea, select, button {
    background-color: bisque;
    border: 1px solid rgb(240, 197, 144);
    color: brown;
    outline: none;
    font-size: 10px;
    border-radius: 2px;
    
}

input[type="submit"] {
    margin-left: 100px;
}