[type="submit"] {
    width: 300px;
    list-style-type: none;
    background: url(img/kogut-zadanie.png), url(img/kogut-zadanie2.png), greenyellow;
    background-repeat: no-repeat no-repeat, no-repeat, no-repeat no-repeat;
    background-size: auto 36px, auto 36px,auto 18px;
    background-position: left, right, center;
    border-radius: 5px;
    border-color: green green green green;
    height: 40px;
    linear-gradient(to right,rgb()10%)

}